<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('blocks/header') %>
    <main>
      <section id="root">
        <h1>&gt; Tipix.dev</h1>
        <p>Open source CLI tools for developers.</p>
      </section>

      <!-- About -->
      <section id="about">
        <p>
          Tipix.dev is focused on building fast, minimal and powerful
          command-line tools. All projects are open source and available on GitHub.
        </p>
      </section>

      <!-- Projects -->
      <section id="projects">
        <h2>&gt; Projects</h2>

        <div class="container">

          <div class="block">
            <h3>&gt; CLI Tool Free</h3>
            <p>All CLI utilities are completely free.</p>
            <a href="https://github.com/Tipix-dev">GitHub →</a>
          </div>

          <div class="block">
            <h3>&gt; freedom of code</h3>
            <p>All utilities are distributed under GPL-v3.</p>
            <a href="https://github.com/Tipix-dev">GitHub →</a>
          </div>

        </div>
      </section>
    </main>

    <%- include('blocks/footer') %>
</body>
</html>