<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects | Tipix</title>
    <link rel="icon" type="image/png" href="/img/logo.svg">
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <%- include('blocks/header') %>

    <section id="root">
        <h1>&gt; projects</h1>
        <p>all our projects are here</p>
      </section>

      <section id="projects">
        <h2>&gt; Here</h2>

        <div class="container">

          <div class="block">
            <h3>&gt; OLS</h3>
            <p>OLS is a set of utilities for improving the CLI</p>
            <p class="license">GPL-3.0</p>
            <a href="https://github.com/Tipix-dev/OLS">GitHub</a>
            <a href="/p/OLS">Learn more</a>

          </div>

          <div class="block">
            <h3>&gt; lexa</h3>
            <p>coming soon</p>
            <a href="https://github.com/Tipix-dev">GitHub</a>
          </div>

        </div>
      </section>
    </main>    
    <script src="/JS/burger.js"></script>

    <%- include('blocks/footer') %>

</body>
</html>