<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLSP upload | Tipix</title>
    <link rel="icon" type="image/png" href="/img/logo.svg">
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <%- include('../../blocks/header') %>
    <main>
        <div class="container">
            <form action="/api/upload" method="post" enctype="multipart/form-data" class="block">
                <label class="file"><input type="file" name="package" accept=".olsp" required></label>
                <div id="msg"></div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script>
        const form = document.querySelector("form");

        form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(form);

        const res = await fetch("/api/upload", {
                method: "POST",
                body: formData
            });

            const data = await res.json();

            if (data.ok) {
                const msg = document.getElementById("msg");
                msg.textContent = "Upload successful! Redirecting...";
                msg.style.color = "green";

                setTimeout(() => {
                window.location.href = "/p/OLSP";
                }, 1000);
            } else {
                alert(data.error);
                console.error(data)
            }
        });
        </script>
    </main>
    <%- include('../../blocks/footer') %>
</body>
</html>